<!DOCTYPE html>
<html>
<head>
<title>{{ title }}</title>
<script type="text/javascript" src="/static/vendor/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/static/vendor/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="/static/vendor/jquery-ui-1.12.1/jquery-ui.min.css">
<link rel="stylesheet" href="/static/style.css">
<script type="text/javascript" src="/static/index.js"></script>
</head>

<body>
<div class="container">

<main class="main">
<!-- hidden by default -->
<div class="select-menu">
<input class="sog-add" type="submit" value="Add source">
<input class="sog-del" type="submit" value="Delete source">
</div>

<div class="concept-dialog">
<form id="concept-form" method="POST">
<p>Description:<br/>
<textarea name="description" rows="3" cols="40"></textarea></p>
<p>Arity: <input type="number" name="arity" value="0"/></p>
<p>Arguments type:<br/>
{{ args_type }}
</p>
</form>
</div>

{{ main_content }}
</main>

<div class="sidebar">
<div class="sidebar-tabs">

<div class="sidebar-tab">
<input class="tab-title" id="tab_miogatto" type="checkbox" name="tabs">
<label class="tab-title" for="tab_miogatto">MioGatto v{{ version }}</label>
<div class="tab-content">
  <p>Dev. revision: {{ rev_date }}</p>
  <p>Paper ID: {{ paper_id }}</p>
  <p>Annotator: {{ annotator }}</p>
</div>
</div>

<div class="sidebar-tab">
<input class="tab-title" id="tab_progress" type="checkbox" name="tabs">
<label class="tab-title" for="tab_progress">Progress</label>
<div class="tab-content">
  <p>Concepts: {{ p_concept }}</p>
  <p>Sources: {{ nof_sog }}</p>
</div>
</div>

<div class="sidebar-tab">
<input class="tab-title" id="tab_concept" type="checkbox" name="tabs" checked="checked">
<label class="tab-title" for="tab_concept">Concept</label>
<div id="anno-box" class="tab-content">
<p>Please select a math identifier first.</p>
</div>
</div>

</div>
</div>

</div>
</body>
</html>
